<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= raw page_title %></title>
    <link rel="alternate" type="application/rss+xml" title="The Blog of Hendrik Mans" href="<%= config["site_url"] %>/rss.xml" />
    <link rel="pingback" href="https://webmention.io/hmans.io/xmlrpc" />
    <link rel="webmention" href="https://webmention.io/hmans.io/webmention" />

    <!-- jquery -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- highlight.js -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>

    <!-- jquery-oembed -->
    <link rel="stylesheet" href="/css/jquery-oembed.css">

    <!-- my own stuff -->
    <script src="/js/bundle.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      <nav role="main">
        <strong><a href="/"><%= config["site_title"] %></a></strong>
        &middot; <a href="/rss.xml" rel="alternate">RSS</a>
        &middot; <a href="https://twitter.com/hmans" rel="me">Twitter</a>
        &middot; <a href="https://github.com/hmans" rel="me">GitHub</a>
      </nav>

      <main role="main">
        <%= yield %>
      </main>

      <footer role="main">
        <%= render("/_link_to_source.html", page: page) %>
      </footer>

      <!-- google analytics -->
      <%= render("/_google_analytics.html") %>
    </div>
  </body>
</html>
